/**
 * Editor Style Document for "BlankBase"
 */
 
html, body {
	color: #222222;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	text-rendering: optimizeLegibility;
	vertical-align: baseline;
}
